.project-card {
  margin-bottom: 24px;
  &:hover {
    cursor: pointer;
  }

  .img-box {
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #4a5568;
    aspect-ratio: 7 / 4;
    transition: all 0.3s ease-out;
    filter: brightness(0.95);
    &:hover {
      transform: translateY(-5px);
      filter: brightness(1.05);
    }
  }

  .img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .text-box {
    padding: 5px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .subtitle {
    color: #9ca3af;
    font-size: 16px;
    line-height: 1.3;
  }

  .tag-container {
    padding: 8px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 4px;
  }

  .tag {
    font-family: "Montserrat", sans-serif;
    padding: 5px 12px;
    border-radius: 9999px;
    border: 1px solid #4a5568;
    color: #d1d5db;
  }
}
