.used-stack-card {
  border-radius: 10px;
  padding: 32px;
  background-color: #2525259d;

  .icon {
    margin-bottom: 16px;
    border: 1px solid;
    display: flex;
    background-color: #121212;
    border-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .title-box {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  .text {
    margin-left: 0px;
    line-height: 1.7;
  }
}
