.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: 800px;
  margin: 0 40px 100px 40px;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    gap: 4%;
    font-size: 40px;
    margin-bottom: 150px;
    white-space: nowrap;
    filter: brightness(0.9);
  }

  .title::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: linear-gradient(to right, #4a5568, #f8fafc);
    filter: brightness(0.9);
  }

  .title:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: linear-gradient(to right, #f8fafc, #4a5568);
    filter: brightness(0.9);
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 300px;
    .img {
      width: 300px;
      pointer-events: none;
      user-select: none;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    p {
      display: flex;
      align-items: center;
      gap: 2px;
      font-family: "NanumSquareNeo";
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .type-text-box {
    display: none;
    margin: 20px 0 20px 0;
    height: 30px;
  }

  .type-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #f8fafc;
    ~ .typed-cursor {
      font-size: 28px;
      color: #d0ddee;
    }
  }
  .cloud {
    width: 28px;
    height: 20px;
  }

  .tag-box {
    display: none;
    gap: 14px;
  }

  .tag {
    font-family: "NanumSquareNeoBold";
    color: #f8fafc;
    background-color: rgb(208, 221, 238, 0.15);
    border-radius: 40px;
    font-size: 16px;
    padding: 0.35rem 0.65rem;
    margin-top: 4px;
  }

  .point {
    font-family: "NanumSquareNeoExtraBold";
    color: #95a8c8;
  }
}


@media (min-width: 768px) {
  .about-me {
    height: 800px;
    margin: 0 40px 100px 40px;
    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    .type-text-box {
      display: none;
    }
    .mobile-text {
      display: block;
    }
    .tag-box {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .about-me {
    height: 600px;
    margin: 0 60px 100px 60px;
    .contents {
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    .type-text-box {
      display: flex;
    }
    .mobile-text {
      display: none;
    }
    .tag-box {
      display: flex;
    }
  }
}

@media (min-width: 1280px) {
  .about-me {
    height: 600px;
    margin: 0 100px 100px 100px;
    .contents {
      display: flex;
      flex-direction: row;
      gap: 2%;
    }
    .type-text-box {
      display: flex;
    }
    .mobile-text {
      display: none;
    }
    .tag-box {
      display: flex;
    }
  }
}
