.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: 1150px;
  margin: 0 40px;
  margin-bottom: 100px;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    gap: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    margin-bottom: 100px;
    white-space: nowrap;
    filter: brightness(0.9);
    text-shadow: 1.5px 1.5px 2px #758ebf;
  }

  .title::before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #8fafd9, #dbd0f2);
    border-radius: 20px;
    filter: brightness(0.9);
  }

  .title:after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #dbd0f2, #8fafd9,);
    border-radius: 20px;
    filter: brightness(0.9);
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 300px;
    .img {
      width: 300px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    p {
      font-family: "NanumSquareNeo";
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .type-text-box {
    display: none;
    margin-top: 40px;
  }

  .type-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      #f2dfe6,
      #dbd0f2,
      #8fafd9,
      #758ebf
    );
    color: transparent; /* 글자색 투명화 */
    ~ .typed-cursor {
      font-size: 36px;
      color: #8fafd9;
    }
  }

  .mobile-text-box {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #dbd0f2, #8fafd9, #758ebf);
    color: transparent; /* 글자색 투명화 */
  }

  .text-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tag-box {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .tag {
    font-family: "NanumSquareNeoBold";
    color: rgb(18, 18, 18);
    background-color: #f8fafc;
    border-radius: 40px;
    font-size: 16px;
    padding: 0.3rem 0.6rem;
  }

  .point {
    font-family: "NanumSquareNeoExtraBold";
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #dbd0f2, #758ebf);
    color: transparent; /* 글자색 투명화 */
  }
}

@media (min-width: 768px) {
  .about {
    height: 1150px;
    margin: 0 40px;
    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    .type-text-box {
      display: none;
    }
    .mobile-text {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .about {
    height: 850px;
    margin: 0 60px;
    .contents {
      display: flex;
      flex-direction: row;
      gap: 4%;
    }
    .type-text-box {
      display: flex;
    }
    .mobile-text {
      display: none;
    }
  }
}

@media (min-width: 1280px) {
  .about {
    height: 850px;
    margin: 0 100px;
    .contents {
      display: flex;
      flex-direction: row;
      gap: 4%;
    }
    .type-text-box {
      display: flex;
    }
    .mobile-text {
      display: none;
    }
  }
}
