.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 100vh;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    h1 {
      margin: 0;
      font-family: "Syncopate", sans-serif;
      font-weight: 700;
      font-size: clamp(60px, 6vw, 160px);
      transition: transform 0.5s ease-out;
      z-index: 1;
    }
    .point {
      color: #a2b4d2;
    }
    .letter-space {
      letter-spacing: -7px;
    }
  }
  .cloud {
    position: absolute;
    width: 7vw;
    height: auto;
    pointer-events: none;
    user-select: none;

    &.cloud1 {
      left: 2.2vw;
      top: 26%;
      scale: 2;
    }

    &.cloud2 {
      left: 10vw;
      top: 48%;
      scale: 3.2;
    }

    &.cloud3 {
      left: 1.5vw;
      bottom: 22vh;
      scale: 1.3;
    }

    &.cloud4 {
      left: 15vw;
      bottom: 11vh;
      scale: 2.1;
    }

    &.cloud5 {
      left: 25vw;
      bottom: 25vh;
      scale: 1;
      filter: blur(2px);
    }

    &.cloud6 {
      right: 33vw;
      bottom: 11vh;
      scale: 1.9;
      rotate: 5deg;
    }

    &.cloud7 {
      left: 39vw;
      bottom: 8vh;
      scale: 3;
    }

    &.cloud8 {
      right: 12vw;
      bottom: 22vh;
      scale: 2.8;
    }

    &.cloud9 {
      right: 23vw;
      bottom: 30vh;
      scale: 1;
      filter: blur(2px);
    }

    &.cloud10 {
      right: 1.5vw;
      bottom: 42vh;
      scale: 1.3;
    }

    &.cloud11 {
      right: 13vw;
      top: 40vh;
      scale: 1.7;
      rotate: -5deg;
    }

    &.cloud12 {
      right: 13vw;
      top: 19vh;
      scale: 2.9;
    }
  }
}
