.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 100vh;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    h1 {
      margin: 0;
      font-family: "Syncopate", sans-serif;
      font-weight: 700;
      font-size: clamp(64px, 6vw, 130px);
      transition: transform 0.5s ease-out;
      z-index: 1;
    }
    .point {
      color: #a2b4d2;
    }
  }
  .cloud {
    position: absolute;
    width: 7vw;
    height: auto;
    pointer-events: none;
    user-select: none;

    &.cloud1 {
      left: 2.2vw;
      top: 26%;
      scale: 2;
    }

    &.cloud2 {
      left: 10vw;
      top: 48%;
      scale: 3.2;
    }

    &.cloud3 {
      left: 3vw;
      bottom: 22vh;
      scale: 1.3;
    }

    &.cloud4 {
      display: none;
      left: 0.5vw;
      bottom: 80px;
      scale: 2.6;
    }

    &.cloud5 {
      left: 13vw;
      bottom: 10vh;
      scale: 2.1;
    }

    &.cloud7 {
      left: 25vw;
      bottom: 24vh;
      scale: 1;
      filter: blur(2px);
    }

    &.cloud9 {
      left: 37vw;
      bottom: 32px;
      scale: 3;
    }

    &.cloud10 {
      right: 35vw;
      bottom: 12vh;
      scale: 1.9;
    }

    &.cloud12 {
      display: none;
      right: 0vw;
      bottom: 5.5vh;
      scale: 1.8;
    }

    &.cloud14 {
      right: 10.5vw;
      bottom: 20vh;
      scale: 3.0;
    }

    &.cloud15 {
      right: 21vw;
      bottom: 31vh;
      scale: 1;
      filter: blur(1px);
    }

    &.cloud16 {
      right: 3vw;
      bottom: 42vh;
      scale: 1.3;
    }

    &.cloud17 {
      right: 13vw;
      top: 40vh;
      scale: 1.7;
    }

    &.cloud18 {
      right: 13vw;
      top: 19vh;
      scale: 2.9;
    }
  }
}


